/*General*/
@font-face {
  font-family: 'Open Sans';
  src: url('Monotype  - CG Times Bold.otf') format('truetype');
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #007bc1;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: 'CG Times Bold';
}

p {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.acerca {
  display: flex;
  justify-content: center;
}

.btn {
background-color: #007bc1;
color: white;
}

.btn-block {
margin-top: 1rem;
}

.boton {
  margin-left: 2rem;
}

.btn:hover {
  background-color: white;
  color: #007bc1;

}

.jumbotron {

}

.container {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;


}

.media {
  margin-top: 4rem;
  margin-bottom: 4rem;

}

.fa-whatsapp  {
  color:#fff;
  padding-left: 1.5rem;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 5rem;

}

.Contacto {
  background-color: #007bc1;
  color: white;
}

.fa-facebook-f {
  color:#f7f7f7 ;
}

 .fa-instagram  {

    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    padding-right: 2rem;


}

.fa-phone {
  color: white;

}

footer {
background-color: #007bc1;

}

footer h1 {
  color: white;
}


.divider {
  background-image: url('../images/Taller Panoramica.jpeg');
  background-size: cover;
  height: 10rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;

}

.divider span {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.last {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

.last p {
  font-size: 0.75rem;
  color: white;
}

.last a {
  color: white;
  font-size: 0.75rem;
}

.carousel-caption {
  top: 60%;
  bottom: auto;
}

.card-img-overlay {
  top: 30%;
  bottom: auto;
}

.Banner img {
  opacity: 0.5;
}


/* MEDIA QUERIES */

@media only screen and (max-width:576px){

.card-img-overlay {
  top: 40%;
  bottom: auto;
}

   #MainBanne btn {
    width:100%;
    padding-top: 0.7rem;
    border: none;
    border-width: medium;
    white-space: normal;
  }
  #MainBanner .btn:hover {

  }

  .acerca {
    margin-top: 3rem;
    font-size: 0.7rem;
  }


}
