html {
  font-size: 16px;
  font-family: 'Roboto' sans-serif;

}

h1 {
  font: 1rem;
  font-weight: bold;
}

p {
  color: gray;
  font-size: 1.5rem;
}

.container {
margin-top: 2rem;
margin-bottom: 2rem;
}

.btn {
    background-color: #007bc1;
}


.mobile {
  display: none;
}

.fa-whatsapp  {
  color:#fff;
  background:
  linear-gradient(#25d366,#25d366)10px 84%/10px 9px no-repeat,
  radial-gradient(circle at center, #25d366 63%,transparent 0);
}



.Contacto {
  background-color: #007bc1;
  color: white;
}

.fa-facebook-f {
  color:#f7f7f7 ;
}

 .fa-instagram  {

   color: transparent;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   background-clip: text;
   -webkit-background-clip: text;
   padding-right: 2rem;


}

.fa-phone {
  color: #44444C;

}

footer {
    background-color: #007bc1;
}

footer h1 {
  color: white;
}

.last {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

.last p {
  font-size: 0.75rem;
  color: white;
}

.last a {
  color: white;
  font-size: 0.75rem;
}


/* MEDIA QUERIES */

@media only screen and (max-width:576px){
  .mobile {
    display: inherit;
  }

  .wide {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}
